* {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 15;
}

#navigation {
    flex: 1;
    border-bottom: 1rem solid #efbefb;
}

#scoreboard {
    color:#ce56ec;
    font-size: 1.5rem;
    margin: 1rem;
    width: 11.2rem;
}

#title {
    font-size: 8rem;
    margin: 4rem;
    padding: 2rem;
    text-align: center;
    border: 2rem solid #efbefb;
    border-radius: 3rem;
    background-color: #ce56ec;
}

#splash-screen {
    background-color: #bb95c4;
}

#play-game {
    font-size: 6rem;    
    border-color: #ce56ec;
    border-width: 2.5rem;
    background-color: #efbefb;
    padding: 2rem;
    border-radius: 5rem;
    transition-timing-function: linear;
    transition: 0.3s;
}

#question-screen {
    background-color: #bb95c4;
}

#end-result {
    background-color: #bb95c4;
}

.flex {
    display: flex;
}

.full-height {
    height: 100%;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.tracker {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.answer-choices {
    font-size: 2rem;  
    border-color: #ce56ec;
    border-width: 0.5rem;
    background-color: #efbefb;
    padding: 1rem;
    border-radius: 5rem;
    transition-timing-function: linear;
    transition: 0.3s;
}

.submissions {
    align-items: center;
}

.end-score {
    justify-content: space-between;
    display: flex;
    font-size: 4rem;
    margin: 2rem;
    width: 27rem;
}

.end-initials {
    font-size: 1rem;
}

.hidden{
    display: none;
}

.leaderboard-item {
    padding: 1rem;
    justify-content: space-between;
    width: 8rem;
}

#scoreboard:hover {
    color: black;
    text-decoration: underline solid black 0.2rem;
}

#play-game:hover {
    transform: scale( 1.1 );
    box-shadow: inset 0px 0px 40px #600094 , 0px 0px 40px #600094;
}

.answer-choices:hover {
    transform: scale(1.1);
}